@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Fredoka+One&display=swap');
h2{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 9px;

}
h1{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

}
.con{
    width: 320px;
    margin: 0 auto;
}
header .con{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}
header{
    padding-top: 9px;
    padding-bottom: 9px;
}
button{
    width: 31px;
    height: 23px;
    border: none;
    margin-right: 18px;
    background: url(../img/Menu.png) center no-repeat;
    background-size:contain ;
}
p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-align: center;

}
.sec1 img{
    width: 320px;
    height: 243px;
    margin: 0 auto;
}
.sec2 img{
    width: 285px;
    height: 296px;
    margin: 0 auto;
}